<!-- NAVBAR -->

  <div class="banner-search" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= asset_path "UnderstandingSake.jpg" %>');">

      <div class="banner-content">
        <h1>Find your Sake bottle with style!</h1>
        <div style="height: 60px; width: 100%; font-size: 30px;" id="typed-content">

        </div>
        <!-- <span id="typed"></span> -->


         <!-- <div class="search-all">
            <a href="#" class="btn btn-treehouse"> Show all sake</a>
          </div> -->

          <div class="search-scan">
           <!-- <a href="#barcode-scanner"></a> -->
            <a href="#" class="btn btn-treehouse" id="scan-button"> Scan your bottle </a>

          </div>



           <!--<img src="https://images-eu.ssl-images-amazon.com/images/I/71YFP9NXAsL.png" alt="scan me"> -->

             <div id="barcode-scanner"><video autoplay="true" preload="auto" src=""></video>
             <!-- <button id="hide">Hide</button>
             <button id="show">Show</button> -->
             </div>

         </div>
       </div>


























<!--
  </div>
</div> -->




  <div class="search-selection">  <!-- SELECTION -->

    <div class="container">
    <h3>Discover our selections</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "sake2.jpg" %>);">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Pairing sake with Meat</h2>
              <p>Delicious!</p>
            </div>
              <a class="card-link" href="search_attr?query_taste=1" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "sake1.jpg" %>);">
            <div class="card-category">Halloween</div>
            <div class="card-description">
              <h2>Sake Selections – Boooo!</h2>
              <p>Scary!!</p>
            </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "sakes3.jpg" %>);">
            <div class="card-category">Value for money</div>
            <div class="card-description">
              <h2>Sake selections below ¥1.000</h2>
              <p>Nice deal!</p>
            </div>
              <a class="card-link" href="search_attr?query_price1=100&query_price2=1000" ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-selection">

    <div class="container">
    <h3>Popular Sake</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "sake6.png" %>);">
             <div class="card-category">¥3500</div>
            <div class="card-description">
              <h2> Aiyu Daiginjo, 2016</h2>
              <p> Aiyu Shuzo Co Ltd </p>
            </div>
              <a class="card-link" href="search?utf8=%E2%9C%93&search=Aiyu+Daiginjo" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "sake5.png" %>);">
            <div class="card-category">¥1500</div>
            <div class="card-description">
              <h2>Taiheizan Junmai Daiginjo Yushin, 2016</h2>
              <p>by Kodama Brewing Co Ltd.</p>
            </div>
              <a class="card-link" href="search?utf8=%E2%9C%93&search=Taiheizan+Junmai" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "sake4.png" %>);">
            <div class="card-category">¥1000</div>
            <div class="card-description">
              <h2>Mutsu-Hassen Daiginjo, 2016</h2>
              <p>by Hachinohe Shuzo Co., Ltd.</p>
            </div>
              <a class="card-link" href="search?utf8=%E2%9C%93&search=Mutsu-Hassen+Daiginjo" ></a>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->

  </div>
  <!-- <div class="content">
  <a href="#" class=" btn btn-treehouse"> Show sake</a>
  </div> -->
</div>
































<!-- 2sliders -->



<!-- typed.js -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<script src="https://unpkg.com/typed.js@2.0.6/lib/typed.js"></script>
<script>
// const options = {
//   strings: ["<i>First</i> sentence.", "&amp; a second sentence."],
//   typeSpeed: 40
// }

const typed = new Typed("#typed-content", {
  strings: ["", "Search by name", "Search by attribute", "Search by photo"],
  typeSpeed: 100,
  smartBackspace: true,
  backSpeed: 100,
  loop: true,
  showCursor: false
});

// const typed = new Typed('.banner-content', {
//   stringsElement: '#typed-content',
//   typeSpeed: 10
// });

// const element = document.querySelector("#typed-content");

</script>


  <!--   <div class="search-scan">
      <a href="#barcode-scanner"></a>
      <div id="barcode-scanner"><video autoplay="true" preload="auto" src=""></video></div>
    </div>

-->

<!-- hide and show scan -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
// $(document).ready(function(){
//     $("#hide").click(function(){
//         $("video").hide();
//     });
//     $("#show").click(function(){
//         $("video").show();
//     });
// });

</script>






