<div class="container">
      <div class="row">
        <% @nihonshus.each do |nihonshu| %>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="carda">
                     <img class="card-img-top" src=<%= nihonshu.image_url %>>
                    <div class="card-block">
                        <h4 class="card-title"> <%= link_to nihonshu.name, nihonshu_path(nihonshu) %></h4>
                        <div class="meta">
                            <a href="#"><%= link_to nihonshu.region, nihonshu_path(nihonshu) %></a>
                        </div>
                        <div class="card-text">
                            <%= link_to nihonshu.classification, nihonshu_path(nihonshu) %>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right"><%= link_to nihonshu.price, nihonshu_path(nihonshu) %></span>
                    </div>
                </div>
            </div>
        <% end %>
      </div>
</div>




<!--
<div class="container">
  <div class="row">
    <% @nihonshus.each do |nihonshu| %>
      <div class="col-xs-12 col-sm-4">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= nihonshu.image_url %>);">
          <div class="card-category"></div>
          <div class="card-description">
            <h2>
              <%= link_to nihonshu.name, nihonshu_path(nihonshu), style: "text-decoration: none; color: white;" %>
            </h2>
            <p>¥<%=nihonshu.price%></p>

          </div>
        </div>
      </div>
    <% end %>
   <%# else %>
  </div>
</div>
-->
