<% if params[:nihonshu_id] %>



<div class="container">
<div class="title">
<h3> The best sake selection </h3>
</div>

      <div class="row">
       <% unless @nihonshus.empty? %>
        <% @nihonshus.each do |nihonshu| %>
    <% unless nihonshu == @nihonshus.find(params[:nihonshu_id]) %>

            <div class="col-xs-6 col-md-4 col-lg-3 mt-4">
                <div class="carda">
                     <img class="card-img-top" src=<%= nihonshu.image_url %>>
                    <div class="card-block">
                        <h4 class="card-title" title="<%= nihonshu.name %>"> <%= link_to nihonshu.name, nihonshu_nihonshu_path(@nihonshu1, nihonshu) %></h4>
                        <div class="meta">
                            <a href="#"><%= link_to nihonshu.region, nihonshu_nihonshu_path(@nihonshu1, nihonshu) %></a>
                        </div>
                        <div class="card-text">
                            <%= link_to nihonshu.classification, nihonshu_nihonshu_path(@nihonshu1, nihonshu) %>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right"><%= link_to nihonshu.price.to_i, nihonshu_nihonshu_path(@nihonshu1, nihonshu) %> ¥</span>
<%end%>
                    </div>
                </div>
              </div>
            <% end %>
      <% end %>
    </div>
  </div>




<% else %>



<div class="container">
<div class="title">
<h3> Please find here your selection: </h3>
</div>

      <div class="row">
       <% unless @nihonshus.empty? %>
        <% @nihonshus.each do |nihonshu| %>

            <div class="col-xs-6 col-md-4 col-lg-3 mt-4">
                <div class="carda">
                     <img class="card-img-top" src=<%= nihonshu.image_url %>>
                    <div class="card-block">
                        <h4 class="card-title" title="<%= nihonshu.name %>"> <%= link_to nihonshu.name, nihonshu_path(nihonshu, search: params[:search]) %></h4>
                        <div class="meta">
                            <a href="#"><%= link_to nihonshu.region, nihonshu_path(nihonshu, search: params[:search]) %></a>
                        </div>
                        <div class="card-text">
                            <%= link_to nihonshu.classification, nihonshu_path(nihonshu, search: params[:search]) %>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right"><%= link_to nihonshu.price.to_i, nihonshu_path(nihonshu, search: params[:search]) %> ¥</span>
                    </div>
                </div>
              </div>
            <% end %>
      <% end %>
    </div>
  </div>




<% end %>


