

<div class="show-container">
  <div class="row">
    <div class="col-sm-6">
      <div class="sake-pic">
        <!-- <%= image_tag 'http://www.uwajimaya.com/static/ee_images/made/878e984abaf6f3f9/sake_large2_752_501_90.jpg' %> -->
        <%= image_tag @nihonshu.image_url %>
      </div>
      <div class="sake-info">
        <div class="name">
          <%= @nihonshu.name %>
        </div>

    <div class="info">
          <p>
            <strong id="rating-integer"><%= @average_rating.to_f %></strong>
            <% @average_rating.times do %>
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
            <% end %>
            <% (5 - @average_rating).times do %>
             <i class="fa fa-star star" aria-hidden="true"></i>
            <% end %>
          </p>
        </div>

        <div class="show-button">
          <div class="row">
            <div class="col-xs-12">
              <%= link_to "Compare", search_path(nihonshu_id: @nihonshu.id, search: params[:search]), class: "btn btn-danger red-button" %>
            </div>
            <div class="col-xs-6">
              <a href="https://search.rakuten.co.jp/search/mall/<%= @nihonshu.name.split(" ").first %>/" class="btn btn-primary more-button">Buy</a>
            </div>
            <div class="col-xs-6">
              <%# if @nihonshu.joins(:user).where(users: {latitude: nil}) %>
              <%= simple_form_for [@nihonshu, @saving] do |f| %>
                  <%#= f.button :submit %>
                <% if @nihonshu.saved_by?(current_user) %>
                    <%= f.submit 'Saved', { class: 'btn btn-secondary more-button' } %>
                <% else %>
                    <%= f.submit 'Save', { class: 'btn btn-primary more-button' } %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>



      </div>
    </div>

    <div class="col-sm-6">
      <div class="summary">
        <h2>Summary</h2>
        <div class="row">
          <div class="col-xs-6">
            <div class="col-margins">
              <div class="text-card">
              <p>Region: <%= @nihonshu.region.capitalize%> </p>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="col-margins">
            <div class="text-card">
              <p>Avg. Price: ¥ <%= @nihonshu.price.to_i %></p>
            </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="col-margins">
              <div class="text-card">
                Food Pairs:
                <% if @nihonshu.taste <= 2%>
                  Fish
                <% elsif @nihonshu.taste == 3 %>
                  Goat
                <% else %>
                  Duck
                <%end%>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="col-margins">
              <div class="text-card">
                <p>Classification: <%= @nihonshu.classification.capitalize %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="col-margins">
              <div class="text-card">
                <p>Aroma: <%= @nihonshu.aroma.capitalize%></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="col-margins">
            <% if @nihonshu.taste == 1 %></p>
              <p><div class="text-card">Taste: Very Sweet</div></p>
            <% elsif @nihonshu.taste == 2 %>
              <p><div class="text-card">Taste: Sweet</div></p>
            <% elsif @nihonshu.taste == 3 %>
              <p><div class="text-card">Taste: Neutral</div></p>
            <% elsif @nihonshu.taste == 4 %>
              <p><div class="text-card">Taste: Dry </div></p>
            <%else%>
              <p> Taste: Very Dry </p>
            <%end%>
            </div>
          </div >
        </div>
      </div>
    </div>



    <div class="col-sm-12">
      <div class="reviews-container">
        <h2>Reviews</h2>
        <div id="reviews">
          <% if @nihonshu.reviews.blank? %>
            <p>Be the first to review!</p>
          <% else %>
            <% @nihonshu.reviews.each do |review| %>
              <%= render 'reviews/show', review: review %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="review-form" style="padding: 15px; margin-bottom: 100px;">
        <%= render 'reviews/form', nihonshu: @nihonshu, review: @review %>
      </div>
    </div>

<!--     <div class="col-sm-12">
      <div class="reviews-container">
        <h2>Reviews</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="single-review">
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" aria-hidden="true"></i>
              <h3>Review by: Shinno</h3>
              <p>It was the best sake I have ever tried!</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="single-review">
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" aria-hidden="true"></i>
              <i class="fa fa-star star" aria-hidden="true"></i>
              <h3>Review by: Charles</h3>
              <p>Not the best but good for Okayama sake I gues..</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="single-review">
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <i class="fa fa-star star" id="starred" aria-hidden="true"></i>
              <h3>Review by: Neema</h3>
              <p>Simply amazing. 5 stars for sure!!</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>




