<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SAKEsan -Find best sake-</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="body-wrapper">
      <%= yield %>
    </div>
    <%= render 'shared/modal' %>

    <script src="https://unpkg.com/quagga@0.12.1/dist/quagga.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
      // $( ".navbar-form" ).hide();
      // $( "#search-icon" ).click(function(e) {
      //   e.preventDefault();
      //   $( ".navbar-form" ).toggle( "slide" );
      // });
      $( "#search-icon" ).click(e => {
        e.preventDefault();
        $( ".search-bar" ).toggleClass( "active" );
        $(".search-bar").focus();
      });

      $( ".modal-button" ).click(e => {
        e.preventDefault();
        $( "#simple-modal" ).toggleClass( "activate-modal" );
      });
    </script>
  </body>
</html>
